* {
    box-sizing: border-box;
}

body {
    background: #111;
    color: #eee;
    padding: 5px;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    padding: 10px;
}

.header h1 {
    display: inline-block;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

.header h2 {
    float: right;
    display: inline-block;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}

.main {
    display: flex;
}

.input,
.output {
    width: 50%;
    padding: 10px;
}

/* button */

button {
    margin: 3px 0;
    color: #cad5f7;
    background: #282b4a;
    border: 1px solid #44478e;
    padding: 3px 10px;
    border-radius: 4px;
}

button:hover {
    background: #1c2f68;
    border: 1px solid #586ace;
}

/* input */

#options {
    display: none;
}

input[type="file"] {
    display: none;
}

#file {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ccc;
    cursor: pointer;
}

#file:hover {
    border-color: #778cff;
}

/* input image */

#image {
    position: relative;
}

#image canvas {
    width: 100%;
    height: auto;
}

#image canvas:nth-child(1) {
    background: conic-gradient(#111 25%, #666 0 50%, #111 0 75%, #666 0) top left / 20px 20px repeat;
}

#image canvas:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    outline: 0px solid red;
}

/* output */

#result {
    display: none;
}

#gradient {
    height: 80px;
}

.text-widget {
    margin: 5px 0;
}

.text-widget span {}

.text-widget button {
    float: right;
}

textarea {
    width: 100%;
    height: auto;
    background: #222;
    border: 1px solid #313131;
    color: #eee;
    overflow-y: hidden;
}

textarea:focus {
    outline: none;
    border-color: #555;
}